

@font-face {
  font-family: 'NonoMoji';
  src: url('./assets/Nico-Moji/nicomoji/NicoMoji-Regular.ttf') format('truetype');
  }

body {
  font-family: 'NonoMoji', sans-serif;
  background-color: #272b2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}
#logo {
  width: 960px;
  height: auto;
  display: flex;
  
}

#score {

font-size: 300px;
color: #e1e3e2;
justify-content: center;
align-items: center;
display: flex;
margin-bottom: 202px;

;

}
#buttons {

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 55px;
  height: 211px;
  margin-bottom: 286px;
}

#plusButton {

  background: #fdd503;
  border: 7px solid black;
  border-radius: 30px;
  padding:0;
  cursor: pointer;
  
  display: flex;
  height: 100%;
  width: 211px;

  align-items: center;
  justify-content: center;
}

#plusButton:active {

  background: none;
  border: 7px solid #fdd503;

}

#plusButton:active img {

content: url("assets/iconemaisHover.png");

}

#minusButton {

  background: #fdd503;
  border: 7px solid black;
  border-radius: 30px;
  padding:0;
  cursor: pointer;
  
  display: flex;
  height: 100%;
  width: 211px;

  align-items: center;
  justify-content: center;
  
}

#minusButton:active {

  background: none;
  border: 7px solid #fdd503;

}

#minusButton:active img {

content: url("assets/iconemenosHover.png");

}

#resetButton {

  background: none;
  border: 7px solid #fdd503;
  border-radius: 30px;
  padding:0;
  cursor: pointer;
  
  display: flex;
  height: 100%;
  width: 211px;

  align-items: center;
  justify-content: center;
}

#resetButton img {
  transition: transform 0.8s ease;
}

#resetButton:hover img {
  transform: rotate(-360deg);
}
#creditos {
  color: #E1E3E3;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  gap: 210px;
}